@import 'variables';

ella-sample {
  background-color: $inactive_color_bg;
  color: $inactive_color;
  // font-weight: bold;

  &.activated {
    background-color: $inactive_color_bg;
    color: $active_color;
    // font-weight: bold;
  }
}
